[submodule "cpu/lib/am1802-csl"]
	path = cpu/lib/am1802-csl
	url = ../am1802-csl
[submodule "cpu/src/lib/UGUI"]
	path = cpu/lib/UGUI
	url = ../UGUI.git
[submodule "dsp/src/lib/aleph-dsp"]
	path = dsp/lib/aleph-dsp
	url = ../aleph-dsp.git
[submodule "cpu/lib/LEAF"]
	path = cpu/lib/LEAF
	url = ../LEAF.git
[submodule "cpu/lib/tinyusb"]
	path = cpu/lib/tinyusb
	url = https://github.com/vananasun/tinyusb.git
[submodule "cpu/lib/FreeRTOS"]
	path = cpu/lib/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS.git
